<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Derechos humanos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1> ¡Conoce tus derechos! </h1> 
  <h4> Todos los tenemos. 
  </h4> 


  <ion-card>
    <img  src='./../../assets/intro/tica.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho de Pueblos y comunidades indígenas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Derecho a su lengua, a la preservación de su cultura y
       al acceso a la tenencia de la tierra y al uso y disfrute racional de los recursos naturales.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img  src='./../../assets/intro/disc.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho de personas con discapacidades</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El Estado se encuentra obligado a establecer todas las acciones necesarias para proteger
      los derechos humanos de las personas con discapacidad, asegurando su plena inclusión a la sociedad en un marco de respeto.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img  src='./../../assets/intro/ali.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la alimentación</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Derecho a la alimentación nutritiva, suficiente y de calidad. El Estado tiene la obligación de garantizar este derecho.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/ex.jpeg' />
    <ion-card-header>
      <ion-card-title>Libertad de expresión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Libertad de buscar, recibir y difundir informaciones e ideas, ya sea oralmente, por escrito, o a través de las nuevas tecnologías 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/verdad.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la verdad</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda víctima y sus familiares tienen derecho a conocer la verdad de los hechos que originaron las violaciones a sus derechos humanos.  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/igu.jpeg' />
    <ion-card-header>
      <ion-card-title>Igualdad entre mujeres y hombres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Todas las personas gozan los mismos derechos sin importar su sexo o género. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/sal.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la salud</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Si las personas hacen uso de los servicios de salud tienen el derecho de obtener prestaciones oportunas, profesionales, idóneas y responsables.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img  src='./../../assets/intro/camino.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la libertad de tránsito y residencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un derecho de las personas para entrar y salir del país, viajar de un lugar a otro dentro del territorio mexicano o mudar 
      su residencia, sin que se requiera algún permiso o documento legal
    </ion-card-content>
  </ion-card>



<ion-card>
    <img  src='./../../assets/intro/edu.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la educación</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a recibir educación. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/venta.jpeg' />
    <ion-card-header>
      <ion-card-title>Libertad de trabajo, profesión, industria o comercio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a dedicarse a la profesión, industria, comercio o trabajo que le acomode, siendo lícitos.  
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img  src='./../../assets/intro/casa.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la vivienda</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a disfrutar de vivienda digna y decorosa. La Ley establecerá los instrumentos y apoyos necesarios a fin de alcanzar tal objetivo. 
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img  src='./../../assets/intro/convivio.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a vivir en un ambiente sano</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a gozar de un medio ambiente sano y ecológicamente equilibrado para su desarrollo y bienestar; corresponde al Estado garantizar este derecho. 
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img  src='./../../assets/intro/corazon.jpeg' />
    <ion-card-header>
      <ion-card-title>Derechos sexuales y reproductivos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a que sea respetada su identidad de género y a ejercer su sexualidad con plena libertad, seguridad y responsabilidad.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src='./../../assets/intro/Reli.jpeg' />
    <ion-card-header>
      <ion-card-title>Libertad religiosa y de culto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene libertad para adoptar, profesar, divulgar o seguir, inclusive de cambiar, la creencia religiosa o filosófica que más le agrade o desee, y de practicar libremente las ceremonias religiosas del culto de su religión.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img  src='./../../assets/intro/constru.jpeg' />
    <ion-card-header>
      <ion-card-title>Derecho a la reparación integral del daño</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Toda persona tiene derecho a que el  Estado repare de manera integral, adecuada, diferenciada, transformadora y efectiva el daño o menoscabo que haya sufrido por violaciones a sus derechos humanos.
    </ion-card-content>
  </ion-card>

  <p> Amoxtli</p>


</ion-content>
