<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Matemáticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src='./../../assets/intro/a.png'></ion-img><br>

  <h1>¡Da click sobre el tema que te gustaría repasar!</h1>

  <div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/suma-fracciones'" [routerLinkActive]="'active'">Operaciones con fracciones I</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/multi-fraccio'" [routerLinkActive]="'active'">Operaciones con fracciones II</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/porcentaje'" [routerLinkActive]="'active'">Porcentajes</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/regla3'" [routerLinkActive]="'active'">Proporción directa</ion-button><br><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/inversa'" [routerLinkActive]="'active'">Proporcionalidad inversa</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/circulo'" [routerLinkActive]="'active'">Operaciones con círculos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/promedio'" [routerLinkActive]="'active'">Promedio, moda y mediana</ion-button><br><br>
  
</div>


<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/pitagora'" [routerLinkActive]="'active'">Teorema de Pitágoras</ion-button><br><br>
 
  <ion-button color="light" [routerLink]="'/arbol'" [routerLinkActive]="'active'">Diagrama de árbol</ion-button><br><br>
</div>

<div class="left-boton-ionic">
 
  <ion-button color="light" [routerLink]="'/numnat'" [routerLinkActive]="'active'">Números naturales</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/angulo'" [routerLinkActive]="'active'">Ángulos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/simetria'" [routerLinkActive]="'active'">Simetría</ion-button><br><br>
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/figuras'" [routerLinkActive]="'active'">Figuras geométricas</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/cartesiano'" [routerLinkActive]="'active'">Plano cartesiano</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/areas'" [routerLinkActive]="'active'">Cuadrados y rectángulos</ion-button><br><br>
  
</div>

<div class="left-boton-ionic">
  <ion-button color="light" [routerLink]="'/area-tria'" [routerLinkActive]="'active'">Áreas de figuras</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/vol-cil'" [routerLinkActive]="'active'">Volumen de figuras I</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/volumen-rect'" [routerLinkActive]="'active'">Volumen de figuras II</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/sumarest'" [routerLinkActive]="'active'">Operaciones aritméticas</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/probabilidad'" [routerLinkActive]="'active'">Probabilidad</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/pictograma'" [routerLinkActive]="'active'">Gráficas y pictogramas</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/multydiv'" [routerLinkActive]="'active'">Múltiplos y divisores</ion-button><br><br>
 
  <ion-button color="light" [routerLink]="'/unimed'" [routerLinkActive]="'active'">Unidades de medida</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/numsign'" [routerLinkActive]="'active'">Números con signos</ion-button><br><br>
  <ion-button color="light" [routerLink]="'/fracciocompa'" [routerLinkActive]="'active'">Introducción a las fracciones</ion-button><br><br>
 
</div>


  <p> Amoxtlic</p>
  
</ion-content>

